body {
     text-align: center;
     margin: 0 auto;

     -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=153, Color=#2E0B30)";
     text-shadow: 2px 1px 4px rgba(46,11,48,0.4);
     filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#2E0B30);
}


.content {
     width: 50%;
}


.navbar-static-top {
     margin-bottom: 19px;
}
