{% extends "base.html" %}

{% block navbar %}
<li class="active"><a href="{{ url_for('index') }}">Home</a></li>                                         
<li><a href="{{ url_for('add_post') }}">Add new post</a></li>
{% endblock %}



{% block content %}
<div class="row">

     <!-- Blog Entries Column -->
     <div class="col-md-8">

          <h1 class="page-header">
               Kevin's blog<br>
               <small>Hey, do you like my blog?</small>
          </h1>
          <br>

          {% for post in posts %}


          <h3>
               <a href="{{ url_for('posts', postid=post.ID) }}">{{ post.ID }}. {{ post.title }}</a>
          </h3>

          <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date }}</p>
          <br>

          <p>{{ post.body|shortcut }}</p>

          <a class="btn btn-primary" href="{{ url_for('posts', postid=post.ID) }}">Read More
               <span class="glyphicon glyphicon-chevron-right"></span></a>

          <br>
          <hr>
          <br>
          <br>


          {% endfor %}


          <nav>
               <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
               </ul>
          </nav>

     </div>

</div>
<!-- /.row -->
<hr>

{% endblock %}
